<div class="container">
    <app-header></app-header>
    <button class="btb btn-dark mb-3" (click)="activo='primero'">Accion </button>
    <button class="btb btn-danger mb-3" (click)="activo='segundo'">Accion 2</button>
    <p class="text-info d-none" [ngClass]="{'d-block':activo=='primero'}">
    Aqui una pequeña introduccion o funcion extra. 
    </p>
    <p class="text-danger d-none" [ngClass]="{'d-block':activo=='segundo'}">
           Cambia el color del texto o puede hacer otras funciones 
        </p> 
 <router-outlet></router-outlet>                      
<app-footer></app-footer>    
</div>
